<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-md-3 text-center">Id<br><br></th>
                                <th scope="col" class="col-md-3 text-center">Year
                                    <form>
                                        <div class="col-xs-3 col-sm-auto">
                                            <input name="year" class="form-control" type="text" [(ngModel)]="yearFilter"
                                                (input)="onSearchByYear()" placeholder="Search by Year">
                                        </div>
                                    </form>
                                </th>
                                <th scope="col" class="col-md-3 text-center">Title<br><br></th>
                                <th scope="col" class="col-md-3 text-center">Winner?
                                    <form>
                                        <div class="col-xs-3 col-sm-auto">
                                            <select name="winner" class="form-control" [(ngModel)]="winnerFilter"
                                                (change)="onSearchByWinner()">
                                                <option [value]="true">Yes</option>
                                                <option [value]="false">No</option>
                                                <option value="">Yes/No</option>
                                            </select>
                                        </div>
                                    </form>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movie of movies" class="cursor">
                                <td>{{ movie.id }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.winner }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="size"
                        (pageChange)="getMovies()">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>