<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <strong>List years with multiple winners</strong><br><br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-md-6">Year</th>
                                <th scope="col" class="text-left">Win Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let year of yearsWinners.years" class="cursor">
                                <td class="text-truncate text-left">{{ year.year }}</td>
                                <td class="text-truncate text-left">{{ year.winnerCount | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <strong>Top 3 studios with winners</strong><br><br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-md-6">Name</th>
                                <th scope="col" class="text-left">Win Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let studio of studios.studios | slice:0:3; let i=index" class="cursor">
                                <td class="text-truncate text-left">{{ studio.name }}</td>
                                <td class="text-truncate text-left">{{ studio.winCount | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <strong>Producers with longest and shortest interval between wins</strong><br>
                <br>
                <h6>Maximum</h6>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-md-3">Producer</th>
                                <th scope="col" class="text-left col-md-3">Interval</th>
                                <th scope="col" class="text-left col-md-3">Previous Year</th>
                                <th scope="col" class="text-left col-md-3">following Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producer of producers.max; let i = index" class="cursor">
                                <td class="text-truncate text-left">{{ producer.producer }}</td>
                                <td class="text-truncate text-left">{{ producer.interval | number }}</td>
                                <td class="text-truncate text-left">{{ producer.previousWin }}</td>
                                <td class="text-truncate text-left">{{ producer.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <h6>Minimum</h6>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-md-3">Producer</th>
                                <th scope="col" class="text-left col-md-3">Interval</th>
                                <th scope="col" class="text-left col-md-3">Previous Year</th>
                                <th scope="col" class="text-left col-md-3">following Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producer of producers.min; let i = index" class="cursor">
                                <td class="text-truncate text-left">{{ producer.producer }}</td>
                                <td class="text-truncate text-left">{{ producer.interval | number }}</td>
                                <td class="text-truncate text-left">{{ producer.previousWin }}</td>
                                <td class="text-truncate text-left">{{ producer.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <strong>List movie winners by year</strong><br><br>
                <div class="row d-flex w-100 justify-content-between align-items-center">
                    <div class="col-11">
                        <input type="number" class="form-control" [(ngModel)]="year" placeholder="Search by year">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-outline-primary" type="button" (click)="onSearchByYear()">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-md-3">Id</th>
                                <th scope="col" class="text-left col-md-3">Year</th>
                                <th scope="col" class="text-left col-md-6">Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ movie.id }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>